services:
  cpanel-backend:
    container_name: cpanel-backend
    build:
      context: ../Cpanel/auth-server
    image: mspk/cpanel-backend:${IMAGE_TAG}
    env_file:
      - /opt/envs/cpanel-backend.env
    networks: [webnet]

  cpanel-frontend:
    container_name: cpanel-frontend
    build:
      context: ../Cpanel/CpanelWeb
      args:
        VITE_CPANEL_API_BASE_URL: ${VITE_CPANEL_API_BASE_URL}
        VITE_MAIN_PORTAL_URL: ${VITE_MAIN_PORTAL_URL}
    image: mspk/cpanel-frontend:${IMAGE_TAG}
    env_file:
      - /opt/envs/cpanel-frontend.env
    networks: [webnet]

  developer-backend:
    container_name: developer-backend
    build:
      context: ../developerWeb/Backend
    image: mspk/dev-backend:${IMAGE_TAG}
    env_file:
      - /opt/envs/dev-backend.env
    networks: [webnet]

  developer-frontend:
    container_name: developer-frontend
    build:
      context: ../developerWeb/authServerWeb
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_API_URL: ${VITE_API_URL}
        VITE_SUPPORT_EMAIL: ${VITE_SUPPORT_EMAIL}
    image: mspk/dev-frontend:${IMAGE_TAG}
    env_file:
      - /opt/envs/dev-frontend.env
    networks: [webnet]

networks:
  webnet:
    external: true
